.icon-container {
    display: flex;
}

.icon {
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 5px;
}
.icon:hover {
    box-shadow: 0 0 5px yellow;
    transition: 0.5s;
}

#navbarNavAltMarkup {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navbarNavAltMarkup .navbar-nav {
    width: 100%;
}