{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger">ERREUR 400</div>
    <a class="btn btn-info" href="{{ path('app_home') }}">{{ 'title.main'|trans }}</a>
{% endblock %}